@font-face 
{
	font-family: 'PT Serif', serif;
	src: url('/main/resources/fonts/PT_Serif/PT_Serif-Web-Bold.ttf');
}

/* WebView does NOT inherit the javaFX stage/scene stylesheet */
.root 
{
	-fx-background-color: #7AAAC1;
	-fx-font: 14pt 'PT Serif';
}

/* Blue Stylish button: values are from playing with a hexcolorpicker */
.button
{
   	-fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font: 14 "PT Serif";
    -fx-text-fill: white;
    
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
}
/* button mouse over */
.button:hover 
{
	-fx-opacity: 0.7;
	-fx-cursor: hand;
}
/* while button is being pressed - padding + insets makes it look like button is being clicked */
.button:pressed 
{
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0, 2 0 3 0, 2 0 4 0, 2 0 5 0;
}

/* default JavaFX disabled style doesn't look disabled */
.button:disabled
{
    -fx-opacity: 0.1;
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0, 2 0 3 0, 2 0 4 0, 2 0 5 0;
}




