@font-face 
{
	font-family: 'PT Serif', serif;
	src: url('/main/resources/fonts/PT_Serif/PT_Serif-Web-Bold.ttf');
}
@font-face 
{	
	font-family: 'Inconsolata', monospace;
	src: url('/main/resources/fonts/Inconsolata/Inconsolata-Bold.ttf');  
}

/* WebView does NOT inherit the javaFX stage/scene stylesheet */
.root 
{
	-fx-background-color: #C0DCFF;
}

.label
{
	-fx-font: 18pt 'PT Serif';
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.4) , 1,1,1,1 );
}

/* Blue Stylish button: values are from playing with a hexcolorpicker */
.button
{
	-fx-font: 10pt 'Inconsolata';
    -fx-text-fill: white;
   	-fx-background-color: 
        #000032,
        linear-gradient(#104296 0%, #002452 20%, #001D44 100%),
        linear-gradient(#0C2656, #002557),
        radial-gradient(center 50% 0%, radius 100%, rgba(105,167,255,0.9), rgba(21,0,255,0.5));
    /* drop shadow adds the glow-ish  to button */
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,50,1) , 15, 0.0 , 0 , 1 );
    /* padding and insets are used to mimick button press */
    -fx-padding: 8 5 15 5;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
}
/* button mouse over */
.button:hover 
{
	-fx-opacity: 0.7; 
	-fx-cursor: hand;
}
/* while button is being pressed - padding + insets makes it look like button is being clicked */
.button:pressed 
{
    -fx-padding: 10 5 13 5;
    -fx-background-insets: 3 0 0 0, 3 0 2 0, 3 0 3 0, 3 0 4 0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,50,1) , 10, 0.0 , 0 , 1 );
}

/* default JavaFX disabled style doesn't look disabled */
.button:disabled
{
    -fx-opacity: 0.05;
    -fx-padding: 10 5 13 5;
    -fx-background-insets: 2 0 0 0, 2 0 3 0, 2 0 4 0, 2 0 5 0;
}




