/*webview.css controls the css for the webview inside of ShowMe window. */
/* WebViews do NOT inherit the javaFX stage/scene stylesheet */

body 
{
    background-color: #D2EFFF;
    font-family: Arial, Helvetica, san-serif;
    text-align: center;
}

/* Scrollbar for webview */
::-webkit-scrollbar 
{
    width: 16px;
    height: 16px;
}
 
/* Track */
::-webkit-scrollbar-track 
{
    border-radius: 10px;
    background: #9BD8F9;
}
 
/* Handle */
::-webkit-scrollbar-thumb 
{
    border-radius: 10px;
    background: #005EFF; 
}

/* handle mouse-over, changing cursor to hand doesn't work here :/ */
::-webkit-scrollbar-thumb:hover
{ 
	background: #3781FF;
}