/*webview.css controls the css for the webview inside of ShowMe window. */
/* WebViews do NOT inherit the javaFX stage/scene stylesheet */

body 
{
    background-color: #C0DCFF;
    font-family: Arial, Helvetica, san-serif;
    text-align: center;
}

/* Scrollbar for webview */
::-webkit-scrollbar 
{
    width: 16px;
    height: 16px;
}
 
/* Track */
::-webkit-scrollbar-track 
{
    border-radius: 10px;
    background: #7DB7FF;
}
 
/* Handle */
::-webkit-scrollbar-thumb 
{
    border-radius: 10px;
    background: #3781FF; 
}

/* handle mouse-over, changing cursor to hand doesn't work here :/ */
::-webkit-scrollbar-thumb:hover
{ 
	background: #1169FF;
}

/* when scrollbar is clicked/dragged */
::-webkit-scrollbar-thumb:active
{
    background: #003A9D; 
}
