@font-face 
{	
	font-family: 'Inconsolata', monospace;
	src: url('/resources/fonts/Inconsolata/Inconsolata-Bold.ttf');  
}

@font-face 
{
	font-family: 'PT Serif', serif;
	src: url('/resources/fonts/PT_Serif/PT_Serif-Web-Bold.ttf');
}

.root
{
	-fx-background-color: linear-gradient(#D9DFE2, #5D8397);
	-fx-font-size: 11pt;
}

.label
{
    -fx-font: 14pt Inconsolata;
}

.error-label
{
	-fx-font: 12pt "PT Serif";
	-fx-text-fill: red;
}

.text-field
{
	-fx-background-insets: 2;
	-fx-padding: 8;
	-fx-font: 10pt Tahoma;
    -fx-font-weight: bold;
    -fx-border-width: 1px;
    -fx-border-color: #38424b;
}

.text-field:focused 
{
	-fx-background-insets: 0;
	-fx-padding: 5;
	-fx-faint-focus-color: black;
	-fx-border-width: 3px;
    -fx-border-color: #38424b;
}

.button
{
	-fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font: 14 "PT Serif";
    -fx-text-fill: white;
    
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
}
.button:hover 
{
	-fx-opacity: 0.7;
	-fx-cursor: hand;
}
.button:disabled
{
    -fx-opacity: 0.1;
}
.button:pressed 
{
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.tooltip
{
	-fx-text-fill: white;
    -fx-background-insets: 0;
    -fx-padding: 5 5 5 5;
    -fx-background: #38424b;
    -fx-text-fill: white;
}
